body {
	background: #fff;
	color: #000;
	font-family: 'Noto Sans', sans-serif;
	font-size: 19px;
	word-break: break-word;
}

body a {
	font-size: 15px;
}

table {
	border-collapse: collapse;
	margin: 15px;
}

tr:nth-child(even) {
	background: #eee;
}

td, th {
	border: 2px solid #aaa;
	text-align: left;
	padding: 8px;
}

.done-list > li {
	margin-top: 35px;
	margin-bottom: 35px;
}

.big-link {
	font-weight: lighter;
	font-size: 32px;
}

a {
	color: #559;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans', sans-serif;
}

h1, h2 {
	font-weight: lighter;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4, h5, h6 {
	font-size: 18px;
}