body {
	background: linear-gradient(-180deg, rgba(96,96,96,1) 0%, rgba(0,0,0,1) 100%) fixed;
	color: #fff;
	font-family: 'Noto Sans', sans-serif;
	font-size: 1rem;
	word-break: break-word;
}

a {
	text-decoration: none;
	color: #aaf;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans', sans-serif;
	text-transform: uppercase;
}

h1, h2 {
	font-weight: lighter;
}